    @import url("root.css");

.calendar-day-header {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 6px 0;
}

.calendar-day {
    -fx-border-color: -neutral-300;
    -fx-min-height: 126px;
    -fx-min-width: 126px;
    -fx-background-color: -neutral-50;
    -fx-padding: 8px;
}

.calendar-day-number {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.calendar-day-outside {
    -fx-fill: #bbb;
}

.calendar-appointment {
    -fx-font-size: 10px;
    -fx-text-fill: -primary-900;
    -fx-background-color: -primary-400;
    -fx-padding: 4px 6px;
    -fx-wrap-text: true;
    -fx-alignment: TOP_LEFT;
    -fx-content-display: TOP;
    -fx-background-radius: 6px;
    -fx-border-color: -primary-600;
    -fx-border-width: 1;
    -fx-border-radius: 6px;
    -fx-pref-width: 100%;
}

.calendar-today {
    -fx-border-color: -secondary-500;
    -fx-border-width: 2px;
    -fx-background-color: -secondary-300;
}

.search-icon {
        -fx-stroke: -neutral-900;
        -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.search-bar {
-fx-padding: 4px 0 4px 28px;
-fx-font-size: 16px;
}




