    @import url("root.css");

    .main {
    -fx-background-color: -neutral-100;
    -fx-padding: 12px;
    }

    .logo-doctor {
        -fx-font-size: 56px;
        -fx-font-weight: bold;
        -fx-fill: -primary-500;
    }

    .logo-tracker {
        -fx-font-size: 56px;
        -fx-font-weight: bold;
        -fx-fill: -secondary-500;
    }

    .side-menu {
        -fx-padding: 16px;
        -fx-background-color: -neutral-50;
        -fx-spacing: 16px;
    }

    .toggle-button.side-menu-main-btn {
        -fx-pref-height: 24px;
        -fx-pref-width: 224px;
        -fx-background-color: -neutral-50;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 12, 0, 4, 4);
        -fx-cursor: hand;
        -fx-alignment: center-left;
    }

    .toggle-button.side-menu-main-btn:selected {
        -fx-background-color: linear-gradient(to right, -primary-500 0%, -secondary-500 100%);

    }

    .dropdown-container {
        -fx-padding: 4px 0px 4px 32px;
    }

    .dropdown-item {
      -fx-pref-height: 24px;
        -fx-pref-width: 194px;
        -fx-background-color: -neutral-50;
        -fx-cursor: hand;
        -fx-alignment: baseline-left;
    }

    .dropdown-item:selected {
            -fx-background-color: linear-gradient(to right, -primary-200 0%, -secondary-200 100%);

        }


.btn-dashboard-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 2;
    -fx-fill: none;
}

.btn-calendar-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.btn-patients-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.btn-doctors-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.btn-rooms-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}



    .page {
        -fx-padding: 16px;
        -fx-background-color: -neutral-50;
        -fx-spacing: 16px;
    }

    .page-title {
        -fx-font-size: 48px !important;
        -fx-font-weight: bold;
    }

.settings {
    -fx-padding: 24px 0px 0px 0px;
    -fx-spacing: 24px;
    -fx-alignment: center;
    -fx-border-color: -neutral-900;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-style: solid;
    -fx-pref-width: 100%;
}

.heading {
    -fx-text-fill: -neutral-900;
    -fx-font-family: "Roboto";
    -fx-font-size: 48px !important;
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-line-height: 1;
}

.label {
   -fx-text-fill: -neutral-900;
   -fx-font-family: "Roboto";
   -fx-font-size: 16px;
   -fx-font-weight: bold;
   -fx-text-alignment: left;
   -fx-line-height: 1;
}

.user-text {
    -fx-text-fill: -neutral-900;
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-alignment: left !important;
    -fx-line-height: 1;
}

.link {
    -fx-text-fill: -neutral-900;
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-border-width: 0;
    -fx-underline: true;
    -fx-line-height: 1;
}

.heading, .label, .user-text, .link {
    -fx-padding: 0;
}

.bad-zone {
    -fx-text-fill: red;
    -fx-font-size: 20;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-background-color: -neutral-100;
}

.bye-bye {
    -fx-text-fill: -neutral-900;;
    -fx-font-size: 20;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -neutral-900;
    -fx-background-color: -neutral-100;
}



