    @import url("root.css");

    .stat-card-container {
    -fx-spacing: 68px;
    }

    .stat-card {
        -fx-padding: 12px;
        -fx-spacing: 12px;
        -fx-background-color: -neutral-50;
        -fx-border-color: -neutral-900;
        -fx-border-width: 1px;
        -fx-pref-width: 160px;
        -fx-pref-height: 72px;
    }

    .stat-card-title {
    -fx-font-size: 16px;
    }

    .stat-card-value {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    }

    .patients-seperator .line {
        -fx-background-color: -primary-500;
        -fx-pref-height: 1;
        -fx-border-color: null;
    }

    .doctors-seperator .line {
        -fx-background-color: -tertiary-500;
        -fx-pref-height: 1;
        -fx-border-color: null;
    }

    .rooms-seperator .line {
        -fx-background-color: -secondary-500;
        -fx-pref-height: 1;
        -fx-border-color: null;
    }

    .page-subheading {
        -fx-font-size: 24px;
        -fx-font-weight: bold;
    }

    .table-heading {
        -fx-padding: 12px 12px 0px 12px;
        -fx-font-size: 20px;
        -fx-font-weight: bold;
    }

    .date-size {
        -fx-pref-width: 304px;
    }

    .patient-size {
        -fx-pref-width: 204px;
    }

    .doctor-size {
        -fx-pref-width: 204px;
    }

    .room-size {
        -fx-pref-width: 160px;
    }

    .table-seperator {
    -fx-padding: 12px;
    }

    .table-seperator .line {
        -fx-background-color: -neutral-500;
        -fx-pref-height: 1;
        -fx-border-color: null;
    }

.table-entry {
    -fx-padding: 12px 12px 0px 12px;
    -fx-font-size: 16px;
}


