    @import url("root.css");

.search-icon {
        -fx-stroke: -neutral-900;
        -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.search-bar {
-fx-padding: 4px 0 4px 28px;
-fx-font-size: 16px;
}

    .page-subheading {
        -fx-font-size: 24px;
        -fx-font-weight: bold;
    }

    .table-heading {
        -fx-padding: 12px 12px 0px 12px;
        -fx-font-size: 20px;
        -fx-font-weight: bold;
    }

    .name-size {
        -fx-pref-width: 184px;
    }

    .email-size {
        -fx-pref-width: 224px;
    }

    .phone-size {
        -fx-pref-width: 154px;
    }

    .address-size {
        -fx-pref-width: 254px;
    }

    .table-seperator {
    -fx-padding: 12px;
    }

    .table-seperator .line {
        -fx-background-color: -neutral-500;
        -fx-pref-height: 1;
        -fx-border-color: null;
    }

.table-entry {
    -fx-padding: 12px 12px 0px 12px;
    -fx-font-size: 16px;
}


