    @import url("root.css");

    .main {
    -fx-background-color: -neutral-100;
    -fx-padding: 12px;
    }

    .logo-doctor {
        -fx-font-size: 56px;
        -fx-font-weight: bold;
        -fx-fill: -primary-500;
    }

    .logo-tracker {
        -fx-font-size: 56px;
        -fx-font-weight: bold;
        -fx-fill: -secondary-500;
    }

    .side-menu {
        -fx-padding: 16px;
        -fx-background-color: -neutral-50;
        -fx-spacing: 16px;
    }

    .toggle-button.side-menu-main-btn {
        -fx-pref-height: 24px;
        -fx-pref-width: 224px;
        -fx-background-color: -neutral-50;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 12, 0, 4, 4);
        -fx-cursor: hand;
        -fx-alignment: center-left;
    }

    .toggle-button.side-menu-main-btn:selected {
        -fx-background-color: linear-gradient(to right, -primary-500 0%, -secondary-500 100%);

    }

    .dropdown-container {
        -fx-padding: 4px 0px 4px 32px;
    }

    .dropdown-item {
      -fx-pref-height: 24px;
        -fx-pref-width: 194px;
        -fx-background-color: -neutral-50;
        -fx-cursor: hand;
        -fx-alignment: baseline-left;
    }

    .dropdown-item:selected {
            -fx-background-color: linear-gradient(to right, -primary-200 0%, -secondary-200 100%);

        }


.btn-dashboard-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 2;
    -fx-fill: none;
}

.btn-calendar-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.btn-patients-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.btn-doctors-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.btn-rooms-icon {
    -fx-stroke: -neutral-900;
    -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}



    .page {
        -fx-padding: 16px;
        -fx-background-color: -neutral-50;
        -fx-spacing: 16px;
    }

    .page-title {
        -fx-font-size: 48px;
        -fx-font-weight: bold;
    }

.search-icon {
        -fx-stroke: -neutral-900;
        -fx-stroke-width: 1;
    -fx-fill: -neutral-900;
}

.search-bar {
-fx-padding: 4px 0 4px 28px;
-fx-font-size: 16px;
}

    .page-subheading {
        -fx-font-size: 24px;
        -fx-font-weight: bold;
    }

    .table-heading {
        -fx-padding: 12px 12px 0px 12px;
        -fx-font-size: 20px;
        -fx-font-weight: bold;
    }

    .name-size {
        -fx-pref-width: 184px;
    }

    .email-size {
        -fx-pref-width: 224px;
    }

    .phone-size {
        -fx-pref-width: 154px;
    }

    .address-size {
        -fx-pref-width: 354px;
    }

    .table-seperator {
    -fx-padding: 12px;
    }

    .table-seperator .line {
        -fx-background-color: -neutral-500;
        -fx-pref-height: 1;
        -fx-border-color: null;
    }

.table-entry {
    -fx-padding: 12px 12px 0px 12px;
    -fx-font-size: 16px;
}


