    @import url("root.css");

.settings {
    -fx-padding: 24px 0px 0px 0px;
    -fx-spacing: 24px;
    -fx-alignment: center;
    -fx-border-color: -neutral-900;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-style: solid;
    -fx-pref-width: 100%;
}

.heading {
    -fx-text-fill: -neutral-900;
    -fx-font-family: "Roboto";
    -fx-font-size: 48px !important;
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-line-height: 1;
}

.label {
   -fx-text-fill: -neutral-900;
   -fx-font-family: "Roboto";
   -fx-font-size: 16px;
   -fx-font-weight: bold;
   -fx-text-alignment: left;
   -fx-line-height: 1;
}

.user-text {
    -fx-text-fill: -neutral-900;
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-alignment: left !important;
    -fx-line-height: 1;
}

.link {
    -fx-text-fill: -neutral-900;
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-border-width: 0;
    -fx-underline: true;
    -fx-line-height: 1;
}

.heading, .label, .user-text, .link {
    -fx-padding: 0;
}

.bad-zone {
    -fx-text-fill: red;
    -fx-font-size: 20;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-background-color: -neutral-100;
}

.bye-bye {
    -fx-text-fill: -neutral-900;;
    -fx-font-size: 20;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -neutral-900;
    -fx-background-color: -neutral-100;
}



